{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
<div class="container my-5">
    <div class="bg-light p-5 rounded">
      <img src="{% static 'img/logo.png' %}" width="400" height="341" class="rounded float-start" alt="...">
      <div class="col-sm-8 py-5 mx-auto">        
        <h1 class="display-5 fw-normal">Grupo SENA</h1>
        <p class="fs-5">Este proyecto nace del interés que tiene la asociación asoarte en adentrarse a nuevas tecnologías.
          El objetivo es  mejorar su proceso de venta, sistematizándolos. Ya que, generalmente en la forma que ellos lo hacen no es de mucha utilidad.</p>
        <p>Milagro Mercado Oliveros</p>
          <p>Carlos Julio Solano Díaz</p>
        <p>
          <a class="btn btn-primary" href="/docs/5.2/components/navbar/#offcanvas" role="button">Leer más »</a>
        </p>
    </div>
    </div>
  </div>
{% endblock contenido %}